@media only screen and (min-width: 200px) and (max-width: 991px){
    header{
        position: sticky;
        width: 100%;
        top: 0;
    }
    .logo{
        position: relative;
        right: 80px;
    }
    .logo img{
        height: 20px;
        width: 200px;
        top: 8px;
    }
    .nav-bar{
        height: 0;
        position: absolute;
        top: 90px;
        left: 0;
        right: 0;
        width: 100vw;
        background: var(--head-color);
        transition: 0.2s;
        overflow: hidden;
        z-index: 2;
    }
    .nav-bar.active{
        height: 300px;
    }       
    .nav-bar ul{
        display: block;
        width: fit-content;
        margin: 80px auto 0 auto;
        text-align: center;
        transition: 0.5s;
        opacity: 0;
    }  
    .nav-bar.active ul{
        position: relative;
        bottom: 70px;
        opacity: 1;
    }
    .nav-bar ul li a{
        position: relative;
        right: 20px;
        line-height: 2;
        color: var(--a-color);
    }
    .nav-bar i{
        position: absolute ;
        left: 195px;
        bottom: 40px;
        font-size: 20px;
        color: var(--a-color);
    }
    .hamburger{
        position: relative;
        height: 41px;
        padding: 0 10px;
        top: 0px;
        right: 0px;
        background-color: white;
        display: block;
        cursor: pointer;
    }
    .hamburger .line{
        position: relative;
        width: 30px;
        height: 3px;
        background: grey;
        margin: 7px 0;   
    }
    /* home */
    .home{
        background-size: 40rem;
        margin-top: -203px;
        height: 20rem;
    }
    .swiper {
        position: relative;
        height: 310px;
        width: 345px;
        top: 220px;
        right: 3px;    
    }
    .swiper .swiper-slide h1{
        font-size: 25px;
    }
    .swiper .swiper-slide h2{
        font-size: 25px;
    }
    .swiper .swiper-slide p{
        font-size: 13px;
    }
    .swiper-slide .btn{
        height: 40px;
        width: 100px;
        font-size: 10px;
    }
    .swiper .swiper-button-next{
        position: absolute;
        top: 220px;
        left: 180px;
        color: #000000;
        padding: 18px;
        background-color: #ffffff;
        font-size: 10px;
    
    }
    .swiper .swiper-button-prev{
        position: absolute;
        top: 220px;
        left: 110px;
        color: #000000;
        padding: 18px;
        background-color: #ffffff;
    }
    .mySwiper [class^="swiper-button-"]::after{
        font-size: 20px;
    }
    
    /* about */
    .about{
        position: relative;
        top: -350px;
    }
    /* gallery */
    .gallery{
        position: relative;
        top: -300px;
    }
    .icoded1{
        top: 12rem;
    }
    .icoded2{
        top: 31.8rem;
    }
    .icoded3{
        top: 51.5rem;
    }
    .icoded4{
        top: 71.3rem;
    }
    .icoded5{
        top: 91.1rem;
    }
    .icoded6{
        top: 110.7rem;
    }
    .icoded7{
        top: 130.5rem;
    }
    .icoded8{
        top: 150.3rem;
    }
    .icoded9{
        top: 170rem;
    }
    
    /* service */
    .service{
        background-attachment: fixed;
        background-size: cover;
        min-height: 75rem;
        position: relative;
        top: -200px;
    }
    .serv-card{
        position: relative;
        height: 300px;
        width: 365px;  
        margin-top: 30px;

    }
    .hoveding{
        position: absolute;
        top: 11.2rem;
        height: 300px;
        width: 365px;
    }
    .hoveding .btn4{
        top: 90px;
        left: 100px;
    }
    .hoveding1{
        position: absolute;
        top: 31.9rem;
        height: 300px;
        width: 365px;
    }
    .hoveding1 .btn4{
        top: 90px;
        left: 100px;
    }
    .hoveding2{
        position: absolute;
        top: 52.5rem;
        height: 300px;
        width: 365px;
    }
    .hoveding2 .btn4{
        top: 90px;
        left: 100px;
    }

    /* test */
    .testimonial{
        position: relative;
        top: -150px;
    }
    .containeres{
        width: 100%;
        margin: auto;
    }
    .view-box{
        width: 96%;
        height: 24rem;
        
    }
    .testimonials{
        flex-direction: column;
        width: 100%;
    }
    .user h3{
        position: relative;
        left: 420px;
        font-weight: 700;
        color: var(--h1-color);
    }
    .user img{
        position: relative;
        left: 550px;
        bottom: 35px;
    }
    .user p{
        width: 20rem;
        margin-left: 420px;
        font-size: 12px;
    }
    /* form */
    .contact{
        position: relative;
        top: -100px;
    }
    .mapers iframe{
        padding: 0px;
        width: 23rem;
        height: 25rem;
    }
    /* footer */
    .foot-4 h5{
        font-size: 12px;
    }
    
}