@media only screen and (min-width: 200px) and (max-width: 991px){
    header{
        position: sticky;
        width: 100%;
        top: 0;
    }
    .logo{
        position: relative;
        right: 80px;
    }
    .logo img{
        height: 20px;
        width: 200px;
        top: 8px;
    }
    .nav-bar{
        height: 0;
        position: absolute;
        top: 90px;
        left: 0;
        right: 0;
        width: 100vw;
        background: var(--head-color);
        transition: 0.2s;
        overflow: hidden;
        z-index: 2;
    }
    .nav-bar.active{
        height: 300px;
    }       
    .nav-bar ul{
        display: block;
        width: fit-content;
        margin: 80px auto 0 auto;
        text-align: center;
        transition: 0.5s;
        opacity: 0;
    }  
    .nav-bar.active ul{
        position: relative;
        bottom: 70px;
        opacity: 1;
    }
    .nav-bar ul li a{
        position: relative;
        right: 20px;
        line-height: 2;
        color: var(--a-color);
    }
    .nav-bar i{
        position: absolute ;
        left: 195px;
        bottom: 40px;
        font-size: 20px;
        color: var(--a-color);
    }
    .hamburger{
        position: relative;
        height: 41px;
        padding: 0 10px;
        top: 0px;
        right: 0px;
        background-color: white;
        display: block;
        cursor: pointer;
    }
    .hamburger .line{
        position: relative;
        width: 30px;
        height: 3px;
        background: grey;
        margin: 7px 0;   
    }
    /* home */
    .home{
        background-size: 40rem;
        margin-top: -203px;
        height: 20rem;
    }
    .carousel-inner{
        position: relative;
        top: 110px;
    }
    .swiper-slide h1{
        font-size: 25px;
    }
     .swiper-slide h2{
        font-size: 25px;
    }
     .swiper-slide p{
        font-size: 15px;
    }
    .swiper-slide .btn{
        height: 40px;
        width: 100px;
        font-size: 10px;
    }
    .home .carousel-control-prev{
       top: 110px;
    }
    .home .carousel-control-next{
       top: 110px; 
    }
    /* about */
    .about{
        position: relative;
        top: -350px;
    }
    /* gallery */
    .gallery{
        position: relative;
        top: -300px;
    }
    .icoded1, .icoded2, .icoded3 ,.icoded4, .icoded5, .icoded6 ,.icoded7, .icoded8, .icoded9{
        height: 300px;
        width: 450px;
    }
    .icoded1 i, .icoded2 i, .icoded3 i, .icoded4 i, .icoded5 i, .icoded6 i, .icoded7 i, .icoded8 i, .icoded9 i{
        align-items: center;
        justify-content: center;
    }
    .icoded1{
        top: 10.5rem;
    }
    .icoded2{
        top: 30.3rem;
    }
    .icoded3{
        top: 50rem;
    }
    .icoded4{
        top: 69.8rem;
    }
    .icoded5{
        top: 89.6rem;
    }
    .icoded6{
        top: 109.2rem;
    }
    .icoded7{
        top: 129rem;
    }
    .icoded8{
        top: 148.8rem;
    }
    .icoded9{
        top: 168.5rem;
    }
    
    /* service */
    .service{
        background-attachment: fixed;
        background-size: cover;
        min-height: 75rem;
        position: relative;
        top: -200px;
    }
    .servos{
        padding: 0 1.8rem;
    }
    .serv-card{
        position: relative;
        height: 250px;
        width: 315px;  
        margin-top: 70px;
    }
    .hoveding{
        position: absolute;
        top: 12.5rem;
        height: 300px;
        width: 315px;
    }
    .hoveding .btn4{
        top: 90px;
        left: 80px;
    }
    .hoveding1{
        position: absolute;
        top: 31.9rem;
        height: 300px;
        width: 315px;
    }
    .hoveding1 .btn4{
        top: 90px;
        left: 80px;
    }
    .hoveding2{
        position: absolute;
        top: 52.5rem;
        height: 300px;
        width: 315px;
    }
    .hoveding2 .btn4{
        top: 90px;
        left: 80px;
    }

    /* test */
    .testimonial{
        position: relative;
        top: -150px;
    }
    .containeres{
        width: 100%;
    }
    .view-box{
        width: 96%;
        height: 24rem;
        margin: 0 10px;
    }
    .testimonials{
        flex-direction: column;
        width: 100%; 
         
    }
    .user h3{
        position: relative;
        left: 420px;
        font-weight: 700;
        color: var(--h1-color);
    }
    .user img{
        position: relative;
        left: 550px;
        bottom: 35px;
    }
    .user p{
        width: 20rem;
        margin-left: 420px;
        font-size: 12px;
    }
    #used::after{
        display: none;
    }
    #used::before{
        display: none;
    }
    /* form */
    .contact{
        position: relative;
        top: -100px;
    }
    .forming{
        margin-left: 23px;
    }
    .forming1{
        margin-top: 25px;
        margin-left: 23px;
    }
    .btn5{
        margin-top: 23px;
    }
    .mapers iframe{
        padding: 0px;
        width: 23rem;
        height: 25rem;
    }
    
    
}